.friend-list {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2%;
}

.game-list {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2%;
}

.main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #EEE;
}